header{
    text-align: center;
    background: cyan;
    padding: 25px;
}
.A {
    background-color:palegreen;
    text-align:center;
    }

.D{
text-align: center;
background: yellow;
padding: 25px;
}