.B {
    background-color:whitesmoke;
    border:2px solid teal;
    text-align:center;
    margin: 25px;
    }

.A {
    text-align:center;

    margin: 10px;

    &-theme-dark {
        background-color:green;
      }
    
    &-theme-light {
        background-color:palegreen;
    }
    }